.main_page {
    height: calc(100vh - 71px);
    background: url('../../../img/backgrounds/main-page-bckg.png') center center/cover no-repeat;

    .headers {
        margin: 0 auto ;
        text-align: center;
        padding-top: 60px;
        h1{
            font-size: 100px;
            font-weight: 900;
        }
    }

    .buttons {
        max-width: 40%;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
}