.main_page {
    height: calc(100vh - 71px);
    background: url('../../../img/backgrounds/main-page-bckg.png') center center/cover no-repeat;

    .headers {
        margin: 0 auto ;
        text-align: center;
        padding-top: 60px;
        h1{
            font-size: 100px;
            font-weight: 900;
        }
    }

    .buttons {
        max-width: 40%;
        margin: 20px auto 0 auto;
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 992px) {
    .main_page{
        .buttons {
            max-width: 80%;
        }    
    }
}


@media (max-width: 574px) {
    .main_page{
        .buttons {
            max-width: 90%;
        }  
        .headers {
            h1{
                font-size: 75px;
            }
            h2{
                font-size: 25px; 
            }
        }    
    }
}

@media (max-width: 320px) {
    .main_page{
        .buttons {
            max-width: 80%;
        }  
        .headers {
            h1{
                font-size: 70px;
            }
            h2{
                font-size: 20px; 
            }
        }  
    }
}