.custom_button {
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    color: white;
    text-transform: lowercase;
    background-color: rgb(163, 100, 28);
    height: 50px;
    transition: all 0.5s;
    &:hover{
        box-shadow: 0 0 20px grey;
    }
}

@media (max-width: 768px) {
    .custom_button{
        border-radius: 45px;
        padding: 10px 35px;
        height: 45px;
    }
}

@media (max-width: 574px) {
    .custom_button{
        border-radius: 40px;
        padding: 7px 25px;
        height: 40px;
    }
}


@media (max-width: 320px) {
    .custom_button{
        border-radius: 35px;
        padding: 6px 15px;
        height: 35px;
    }
}