    .constr_container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        margin: 40px auto 10px auto;
        max-width: 90vw;
    
        .constr_img{
            width: 100%;
            border:1px solid lightgrey;
            border-radius: 20px;
        }
    }
    
    .title{
        margin: 20px 0;
        font-size: 50px;
        font-weight: 800;
    }
    .footer{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        .summ {
            margin-right: 30px;
            color: rgb(63, 62, 62);
            font-style: italic;
        }
    }

    @media (max-width: 768px) {
        .constr_container {
            justify-content: space-evenly;
            .img {
                order: 3;
                flex: 56%;
            }
        }
        .footer {
            .summ {
                margin-bottom: 10px;
            }
        }
    }

    @media (max-width: 574px) {
        .title{
            font-size: 35px;
        }
    }

