.prod_page_container{
    padding: 30px 0;
    max-width: 900px;
    margin: 0 auto;

    .prod_container {
        width:100%;
        // min-height: 600px;
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: #fff;


        display: flex;
        position: relative;
        outline: 1px dashed #98abb9;
        outline-offset: -5px;
        padding: 5px;

        .prod_img {
            width: 600px;
            text-align: center;
            align-self: center;
            img{
                max-width: 100%;
                // border-radius: 10px 0 0 10px;
            }
        }

        .fullwidth {
            width: 70vw;
        }

        .prod_info{
            width: 100%;
            padding:50px 0 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-left:1px solid lightgray ;

        }
        .header{
            padding: 0 30px;
        }
        .price{
            border-top: 1px dashed lightgray;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 20px 20px 0;
            p{
                margin: 0;
                padding-left: 30px;
            }

            .old_price {
                font-size: 15px;
                text-decoration: line-through;
                margin-bottom: 5px;
                color: grey;
            }
            .new_price{
                color: red;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .prod_back_link {
        margin: 20px 0 35px 0;
        a{
            font-size: 30px;
            font-weight: 500;
            text-decoration: none;
            color: #212529;
            &:hover {
                color: #212529;
            }
        }
    }
}

@media (max-width: 992px) {
    .prod_page_container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .prod_page_container {
        max-width: 500px;

        .prod_container {
            flex-direction: column;

        .prod_info{
            border-left: 0px solid lightgray;
            border-top:1px solid lightgray ;
        }
        .prod_img{
            width: 400px;
        }
        }

    }
}

@media (max-width: 574px) {
    .prod_page_container {
        max-width: 420px;

        .prod_container {
            .prod_img {
                width: 350px;
            }    
        }

    }
}

@media (max-width: 425px) {
    .prod_page_container {
        max-width: 310px;

        .prod_container {
            .prod_img {
                width: 280px;
            }    
        }
    }
}