.container_filter {
    position: sticky;

    border-radius: 10px;
    background-color: #fff;


    outline: 1px dashed #98abb9;
    outline-offset: -5px;
    padding: 25px;
    border: 1px solid lightgray;

    min-width: 220px;
    max-height: 350px;

}