.nav-link {
    color: rgba(0,0,0,.55);
}

.nav-item {
    color: rgba(0,0,0,.55);
}

#collasible-nav-dropdown {
    color: rgba(0,0,0,.55);  
}
.margin_nav{
    margin-top: 50px;
    position: relative;
}

img{
    width: 35px;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.1);
    }
}