@import '../../custom.scss';

.nav-link {
    color: rgba(0,0,0,.55);
}

.nav-item {
    color: rgba(0,0,0,.55);
}

#collasible-nav-dropdown {
    color: rgba(0,0,0,.55);  
}
.margin_nav{
    margin-top: 50px;
    position: relative;
}

.prom {
    border-radius: 50px;
    border: 1px solid $primary;
    color: white;
    text-transform: lowercase;
    padding: 2px 15px;
    height: 40px;
    line-height: 32px;
    color: rgba(0,0,0,.55);
    text-transform: capitalize;
    transition: all 0.2s;

    display: flex;
    img {
        transition: all 0.2s;
    }
    &:hover {
        box-shadow: 0 0 20px grey;
        img{
            transform: scale(1.1);
        }
    }
}