
.single_catalog_container {
    max-width: 900px;
    margin-top: 50px;
    margin: 0 auto;

    .single_catalog_title{
        margin: 20px 0;
        font-size: 50px;
        font-weight: 800;
    }


    .single_catalog {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 15px;
    }

    .single_catalog_page{
        display: flex;
        justify-content: space-between;
    }
    
}

@media (max-width: 992px) {
    .single_catalog_container {
        max-width: 740px;
    }
}

@media (max-width: 768px) {
    .single_catalog_container {
        max-width: 570px;
    }
}


@media (max-width: 574px) {
    .single_catalog_container {
        max-width: 300px;
    }
}
