.color_line{
    min-width: 100px;
    display: flex;
    flex-direction: column;
    .color_pair {
        margin-top: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        cursor: pointer;
        &:hover{
            .color_button{
                transform: scale(1.2);
                box-shadow: 0 0 10px grey;
            }
        }

        .color_button {
            width: 20px;
            height:20px;

            border-radius: 100%;
            // border: 1px solid grey;
            transition: all 0.3s;
        }

        .color_label {
            margin-left: 20px;
            font-size: 15px;
        }
    }
    
}