.color_line{
    min-width: 100px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    .color_pair {
        margin-top: 10px;
        display: flex;
        justify-content: left;
        align-items: center;
        // transition: all 0.2s;
        cursor: pointer;
        &:hover{
            .color_button{
                transform: scale(1.2);
                box-shadow: 0 0 10px grey;
            }
        }



        .color_button {
            width: 20px;
            height:20px;

            border-radius: 100%;
            // border: 1px solid grey;
            transition: all 0.3s;
        }

        .active {
            transform: scale(1.2);
            box-shadow: 0 0 10px grey;
        }



        .color_label {
            margin-left: 20px;
            font-size: 15px;
        }
    }

    .active {
        // transform: scale(1.2);
        // box-shadow: 0 0 10px grey;
        text-decoration: underline;
        // font-weight: bold;
    }
    
}

@media (max-width: 574px) {
    .color_line{
        flex: 100%;
        text-align: center;
    }
}