.container{
    padding: 30px 0;
    max-width: 900px;
    margin: 0 auto;

    .promo_title {
        font-size: 45px;
        font-weight: bolder;
        text-align: center;
        margin-bottom: 35px;
    }

    .promo_card{
        width: 100%;
        background-color: #212529;
        color: white;
        padding: 15px;

        border-radius: 10px;
        outline-offset: -5px;
        outline: white dashed 1px;
    }

    .promo_subtitle {
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
        margin: 45px 0;
    }

    .promo_items {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .promo_wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .promo_text {
            min-width: 300px;
            text-align: center;
        }

        .promo_timer {
            width: 300px;
            display: flex;
            justify-content: space-between;

            .timer_container {
                width: 70px;
                height: 70px;
                padding: 10px;
                margin: 0 auto;

                background-color: white;
                color: #212529;
                text-align: center;
                font-size: 25px;
                font-weight: bolder;

                display: flex;
                justify-content: center;
                align-items: center;
            }
            .timer_descr {
                font-size: 15px;
                font-weight: lighter;
            }
        }
    }
}



@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 500px;



    }
}

@media (max-width: 574px) {
    .container {
        max-width: 420px;


    }
}

@media (max-width: 425px) {
    .container {
        max-width: 310px;
        .promo_wrapper {

                .promo_timer {
                    .timer_container {
                        width: 55px;
                        height: 55px;
                    }

                    .timer_descr {
                        font-size: 12px;
                        font-weight: lighter;
                    }
                }
            
        }
    }
}